@import 'tailwindcss';

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
  }
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s ease-in-out;
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);

  --text-color-primary: var(--text-color-primary);
  --text-color-secondary: var(--text-color-secondary);
}

.blue {
  --color-primary: #1e40af;
  --color-secondary: #81a2e9;
  --color-accent: #3b82f6;
  --text-color-primary: #ffffff;
  --text-color-secondary: #3b3b3b;
}

.green {
  --color-primary: #028508;
  --color-secondary: #82e78f;
  --color-accent: #27a52e;
  --text-color-primary: #ffffff;
  --text-color-secondary: #2e2e2e;
}
.yellow {
  --color-primary: #a2a501;
  --color-secondary: #f1ef59;
  --color-accent: #c4c26c;
  --text-color-primary: #222222;
  --text-color-secondary: #3b3b3b;
}
.purple {
  --color-primary: #4c1d95;
  --color-secondary: #7c3aed;
  --color-accent: #8b5cf6;
  --text-color-primary: #ffffff;
  --text-color-secondary: #3b3b3b;
}
.gray {
  --color-primary: #374151;
  --color-secondary: #4b5563;
  --color-accent: #6b7280;
  --text-color-primary: #ffffff;
  --text-color-secondary: #ffffff;
}
.orange {
  --color-primary: #b35c0b;
  --color-secondary: #ebab4b;
  --color-accent: #9a5c0b
  --text-color-primary: #ffffff;
  --text-color-secondary: #3b3b3b;
}
.pink {
  --color-primary: #831843;
  --color-secondary: #ec4899;
  --color-accent: #db2777;
  --text-color-primary: #ffffff;
  --text-color-secondary: #3b3b3b;
}
.teal {
  --color-primary: #134e4a;
  --color-secondary: #0d9488;
  --color-accent: #14b8a6;
  --text-color-primary: #ffffff;
  --text-color-secondary: #3b3b3b;
}
.cyan {
  --color-primary: #046d80;
  --color-secondary: #0891b2;
  --color-accent: #06b6d4;
  --text-color-primary: #ffffff;
  --text-color-secondary: #3b3b3b;
}
.indigo {
  --color-primary: #434190;
  --color-secondary: #5a67d8;
  --color-accent: #667eea;
  --text-color-primary: #ffffff;
  --text-color-secondary: #3b3b3b;
}
.lime {
  --color-primary: #4d7c0f;
  --color-secondary: #65a30d;
  --color-accent: #84cc16;
  --text-color-primary: #ffffff;
  --text-color-secondary: #3b3b3b;
}
.brown {
  --color-primary: #654341;
  --color-secondary: #8d6e63;
  --color-accent: #a1887f;
  --text-color-primary: #ffffff;
  --text-color-secondary: #3b3b3b;
}
.violet {
  --color-primary: #553c9a;
  --color-secondary: #805ad5;
  --color-accent: #9f7aea;
  --text-color-primary: #ffffff;
  --text-color-secondary: #3b3b3b;
}
.amber {
  --color-primary: #92400e;
  --color-secondary: #f59e0b;
  --color-accent: #fbbf24;
  --text-color-primary: #ffffff;
  --text-color-secondary: #3b3b3b;
}
.emerald {
  --color-primary: #037953;
  --color-secondary: #10b881;
  --color-accent: #065f46;
  --text-color-primary: #ffffff;
  --text-color-secondary: #3b3b3b;
}
.fuchsia {
  --color-primary: #9d174d;
  --color-secondary: #e15aab;
  --color-accent: #f472b6;
  --text-color-primary: #ffffff;
  --text-color-secondary: #ffffff;
}
.slate {
  --color-primary: #64748b;
  --color-secondary: #475569;
  --color-accent: #334155;
  --text-color-primary: #ffffff;
  --text-color-secondary: #b19d9d;
}

.dark {
  --color-primary: #1f2937;
  --color-secondary: #4b5563;
  --color-accent: #6b7280;
  --text-color-primary: #ffffff;
  --text-color-secondary: #d1d5db;
}

.light {
  --color-primary: #f3f4f6;
  --color-secondary: #e5e7eb;
  --color-accent: #d1d5db;
  --text-color-primary: #1f2937;
  --text-color-secondary: #4b5563;
}
